# Dependencias
node_modules/

# Archivos de entorno
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Cache
.vite/
.cache/

# Sistema
.DS_Store
Thumbs.db
